<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-book-heading">Create or edit a Book</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!book.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="book.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_iSBN">I SBN</label>
                    <input type="text" class="form-control" name="iSBN" id="field_iSBN"
                        [(ngModel)]="book.iSBN" required minlength="13" maxlength="13"/>
                    <div [hidden]="!(editForm.controls.iSBN?.dirty && editForm.controls.iSBN?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.iSBN?.errors?.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.iSBN?.errors?.minlength">
                        This field is required to be at least 13 characters.
                        </small>
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.iSBN?.errors?.maxlength">
                        This field cannot be longer than 13 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_author">Author</label>
                    <input type="text" class="form-control" name="author" id="field_author"
                        [(ngModel)]="book.author" required/>
                    <div [hidden]="!(editForm.controls.author?.dirty && editForm.controls.author?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.author?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_title">Title</label>
                    <input type="text" class="form-control" name="title" id="field_title"
                        [(ngModel)]="book.title" required/>
                    <div [hidden]="!(editForm.controls.title?.dirty && editForm.controls.title?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.title?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_publisher">Publisher</label>
                    <input type="text" class="form-control" name="publisher" id="field_publisher"
                        [(ngModel)]="book.publisher" required/>
                    <div [hidden]="!(editForm.controls.publisher?.dirty && editForm.controls.publisher?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.publisher?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_copies">Copies</label>
                    <input type="number" class="form-control" name="copies" id="field_copies"
                        [(ngModel)]="book.copies" />
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
